<!DOCTYPE html>
<html>
  <head>
    <title>Omnicalc 1</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/assets/stylesheets/application.css" />
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <strong>Calculators</strong>
        </td>

        <td>
          <a href="/square/new">
            Square with Form
          </a>
        </td>

        <td>
          <a href="/square_root/new">
            Square Root with Form
          </a>
        </td>

        <td>
          <a href="/payment/new">
            Payment with Form
          </a>
        </td>

        <td>
          <a href="/random/new">
            Random with Form
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
